$spacing: 2em;

.home {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 120px;

    .images {
        display: flex;
        flex-direction: row;

        > a {
            display: flex;
            flex: 1 1 auto;
            margin-right: $spacing;
            margin-bottom: $spacing;

            &:last-of-type {
                margin-right: 30px;
            }
            &:first-of-type {
                margin-left: 30px;
            }
        }
    }

    @include respond-below(md) {
        .images {
            flex-direction: column;
            a {
                margin-right: 10px !important;
                margin-left: 10px !important;
                margin-bottom: 20px;
            }
        }
    }
}
