.story {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;

    .hero {
        display: flex;
        flex: 1 1 auto;
        height: 400px;
        background-color: $gray-light;
        background-image: url("/assets/IMG_0656.png");
        background-size: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }

    .content {
        margin: auto;
        max-width: 900px;
        min-width: 300px;
        padding-bottom: 200px;

        @include font-size(22px);
        @include line-height(30px);

        .section {
            margin-top: 30px;
        }

        .image-placeholder {
            background-color: $gray-light;
            height: 300px;
        }
    }

    @include respond-below(lg) {
        .hero {
            background-size: 150%;
        }

        .content {
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    @include respond-below(sm) {
        .hero {
            background-size: 150%;
        }

        .content {
            @include font-size(18px);
            @include line-height(26px);
        }
    }
}
