@import "../../styles/_index.scss";

.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    .nav {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;

        a {
            display: block;
            margin: 0 15px;
            text-decoration: none;
        }
    }
}
