@import "../../styles/_index.scss";

$spacing: 2em;

.stories {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    > a {
        display: flex;
        flex: 1 1 auto;
        margin-right: $spacing;
        margin-bottom: $spacing;

        flex: 1 1 auto;
        &:last-of-type {
            margin-right: 30px;
        }
        &:first-of-type {
            margin-left: 30px;
        }
    }

    @include respond-below(md) {
        flex-direction: column;
        > a {
            margin-right: 10px !important;
            margin-left: 10px !important;
            margin-bottom: 20px;
        }
    }
}
