@import "../../styles/_index.scss";

.image-box {
    border: 1px solid $gray-light;
    background: white;
    position: relative;
    flex: 1 1 auto;

    .image {
        background-color: $gray-light;
        flex: 1 1 auto;
        margin: 8px;
    }

    .description {
        position: absolute;
        bottom: 8px;
        left: 8px;
    }
}
